<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Socer_league_27_98_2019</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/mysql</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>AddLeagueSuccessContoller</display-name>
    <servlet-name>AddLeagueSuccessContoller</servlet-name>
    <servlet-class>com.view.AddLeagueSuccessContoller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLeagueSuccessContoller</servlet-name>
    <url-pattern>/add_Contoller.do</url-pattern>
  </servlet-mapping>
</web-app>